/* RESET STILI BROWSER*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* STILI UNIVERSALI */

html {
    font-size: 16px;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

/* STILI TITOLI */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 3rem;
}

/* STILI DI CLASSI */
.container {
    width: 95%;
    height: 6rem;
    border: 2px solid white;
}