/* RESET STILI BROWSER*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* STILI UNIVERSALI */

html {
    font-size: 16px;
}

body{
    width: 100%;
    height: 100%;
    background-color: #a9a9a9
}

header {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

/* STILI TITOLI */

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Work Sans', sans-serif;

}

#h1_titolo {
    font-weight: 300;
    color: white;
    font-size: 3rem;
}

h4{
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
    padding-top: 1rem;
}

/* STILI DI CLASSI E ID*/
.container {
    width: 95%;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}

.main_container_flex{
    padding: 2rem 0 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.color{
    margin: 1rem;
    width: 10rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.yellowA0{
    background-color: #ffd100;
}

.blackA0{
    background-color: #333333;
}

.orangeA0{
    background-color: #ffa500;
}

/* SEZIONE NAVBAR */

.navbar{
    margin: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    height: 90%;
    width: 10rem;
    padding-left: 1rem;
}

img{
    height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 0 1rem;
}

/* SEZIONE FONTS */
.font_container {
    width: 95%;
    border: 2px solid white;
    display: block;
}

.font{
    margin: 1rem;
    width: 45%;
    height: auto;
    display: inline-block;
}

.font_title{
    padding-left: 1rem;
    flex-grow: 1;
    display: block;
}

.work-sans{
    font-family: 'Work Sans', sans-serif;
}

.impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bold{
    font-weight: bold;
}

.underline{
   text-decoration: underline;
}