/* RESET STILI BROWSER*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* STILI UNIVERSALI */

html {
    font-size: 16px;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(61, 58, 58);
}

header {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

/* STILI TITOLI */

h1, h2, h3, h4, h5, h6{
    font-family: 'Work Sans', sans-serif;

}

#h1_titolo {
    font-weight: 300;
    color: white;
    font-size: 3rem;
}

#h4_colors{
    color: white;
    font-weight: 300;
}

/* STILI DI CLASSI E ID*/
.container {
    width: 95%;
    height: 6rem;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}

.main_container_flex{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

